# .env.sample for distractme-client

# Clone the Repository:
# git clone https://github.com/michellerobertson/distractMe.git
# cd distractMe/distractme-client

# Install Dependencies:
# npm install

# Set Up Environment Variables:

# Create .env File:
# - Rename this .env.sample file to .env

REACT_APP_API_URL=http://localhost:8080
