# .env.sample for distractme-server

# Clone the Repository:
# git clone https://github.com/michellerobertson/distractMe.git
# cd distractMe/distractme-server

# Install Dependencies:
# npm install

# Set Up Environment Variables:

# Create .env File:
# - Rename this .env.sample file to .env

# Edit .env File:
# - Obtain API_KEY from https://api-ninjas.com/register and replace your_api_key_here.

PORT=8080
CORS_ORIGIN=http://localhost:3000
API_KEY=your_api_key_here