$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-color-navy: navy;
$orimary-color-turquoise: turquoise;
$primary-color-lilac: #c8a2c8;
$secondary-color-dark-lilac: #b18ab1;
$secondary-color-white: #F0EAD6;



$font-family-dancing-script: 'Dancing Script', cursive;
$font-family-roboto: 'Roboto', sans-serif;