@use '../../styles/mixins' as *;
@use '../../styles/fonts' as *; 
@use '../../styles/variables' as *;

.main-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61vh; 
  width: 100vw;
}

.content {
  text-align: center; 

  &__text {
    color: $primary-color-navy;
    font-size: 1.5rem; 
    margin-top: 0;
  }

  &__button {
    display: flex;
    justify-content: center; 
    align-items: center; 

    &-text {
      font-size: 1rem; 
      font-family: 'Dancing Script', cursive;
      padding: 20px 15px; 
      color: $primary-color-navy;
      background-color: #c8a2c8; 
      border: 2px solid $secondary-color-white;
      border-radius: 50%; 
      cursor: pointer;
      display: flex;
      flex-direction: column; 
      justify-content: center; 
      align-items: center; 
      text-align: center; 

      &--semicolon {
        font-size: 2.2rem; 
        margin-top: -10px;
      }

      &:hover {
        background-color: $secondary-color-dark-lilac;
      }
    }
  }
}


