@use './styles/mixins' as *;
@use './styles/fonts' as *; 
@use './styles/variables' as *;

body {
  margin: 0; 
  padding: 0; 
  font-family: 'Dancing Script', cursive; 
  background: radial-gradient(
    ellipse at center,
    turquoise,
    navy  
  );
  height: 100vh; 
}

