@use './styles/mixins' as *;
@use './styles/fonts' as *; 
@use './styles/variables' as *;

body {
  margin: 0; 
  padding: 0; 
  font-family: $font-family-dancing-script;
  height: 100vh; 
}

.app-container {
  background: radial-gradient(
    ellipse at center,
    turquoise,
    navy  
  );
  min-height: 100vh; 
}

