@use '../../styles/mixins' as *;
@use '../../styles/fonts' as *; 
@use '../../styles/variables' as *;
 
.header {
    text-align: center; 
    font-size: 4rem;
    margin: 0;
    padding: 1.5rem 1rem 0 1rem;

    @include tablet {
        font-size: 5rem; 
    }

    @include small-screen {
        font-size: 3rem;
      }
}

a {
    text-decoration: none;
    text-align: center;
    color: $secondary-color-white;

    &:hover {
        color: lighten($secondary-color-white, 20%); 
      }
  }